[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = ">=1.15.6"
rich = ">=7.1"
hostess-deybhayden = {editable = true, path = "."}

[dev-packages]
black = "24.3.0"

[requires]
python_version = "3.10"
